version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: events
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=events
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_MASTER_DSN=postgres://postgres:postgres@db:5432/events?sslmode=disable
      - DB_SLAVE_DSNS=postgres://postgres:postgres@db:5432/events?sslmode=disable
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge